<div class="background bg-secondary"></div>

<div class="mt-2">
  <span role="button" class="p-3">
    <fa-icon [icon]="backIcon" (click)="onClose()"></fa-icon>
  </span>
</div>
<div>
  <!-- <button #plaid ngxPlaidLink class="d-none" [env]="environment" [disabled]="!(linkToken$|async)"
    [token]="(linkToken$|async)!" clientName="Spearmint" [countryCodes]="['CA']" [product]="['balance','transactions']"
    (Event)="onPlaidEvent($event)" (Success)="onPlaidSuccess($event)" (Exit)="onClose()">Add</button> -->
</div>