<nav class="navbar larger text-light bg-primary">
  <div class="container-fluid">
    <div></div>
    <div class="d-flex">
      <div class="nav-link me-4" role="button" title="settings" [routerLink]="['settings']">
        <fa-icon [icon]="settingsIcon"></fa-icon>
      </div>
      <div class="nav-item dropdown me-3" role="button" (click)="showDropdown=!showDropdown">
        <div class="nav-link">
          <fa-icon [icon]="addIcon"></fa-icon>
        </div>
        <div class="dropdown-menu dropdown-menu-end" [class.show]="showDropdown">
          <span class="dropdown-item" [routerLink]="['accounts/new']">Add Account</span>
          <span *ngIf="accounts?.length" class="dropdown-item">Add Transaction</span>
          <span class="dropdown-item">Add Budget</span>
        </div>
      </div>
    </div>
  </div>
</nav>