.scroll {
  height: calc(100vh - 4em);
  overflow-y: auto;
}

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

label {
  width: 100%;
  color: white;
  padding-top: .7em;
  padding-bottom: 1.2em;
  border-bottom: 1px solid grey;
}

.picker {
  position: absolute;
  top: .5em;
  left: 100vw;
  height: calc(100vh - 2em);
  width: calc(100vw - 3em);
  overflow: hidden;
  transition: left .3s ease-out;
}

.picker.picking {
  left: .5em;
}