<div class="m-3" role="button" [routerLink]="['budgets']">
  <div class="bg-light p-3 rounded">
    <div class="d-flex justify-content-between align-items-center">
      <span class="d-flex align-items-center">
        <span class="larger text-nowrap">{{today|date:'MMMM'}} Budget</span>
        <span class="d-none d-md-inline small text-muted fst-italic ms-3">as of {{today|date:'MMM d'}}</span>
      </span>
      <span class="d-flex align-items-center">
        <span [class.text-danger]="net<0">{{net|currency}}</span>
      </span>
    </div>
    <div class="mb-2">
      Income
      <div class="position-relative">
        <div class="progress">
          <div class="progress-bar bg-primary" role="progressbar" [style]="'width: '+incomeProgress+'%'"></div>
        </div>
        <div class="today position-absolute text-dark fst-bold" [class.initialized]="initialized"
          [style]="'top:-.29em; left: '+monthProgress+'%'">|</div>
      </div>
      <div class="d-flex justify-content-between">
        <div class="text-muted ms-3">{{-totalIncome|currency}} of {{incomeBudget|currency}}</div>
        <span>{{incomeProgress}}%</span>
      </div>
    </div>

    <div class="mb-3">
      Expenses
      <div class="position-relative">
        <div class="progress">
          <div class="progress-bar" [class.bg-primary]="!isOverBudget" [class.bg-danger]="isOverBudget"
            role="progressbar" [style]="'width: '+expenseProgress+'%'"></div>
        </div>
        <div class="today position-absolute text-dark fst-bold" [class.initialized]="initialized"
          [style]="'top:-.29em; left: '+monthProgress+'%'">|</div>
      </div>
      <div class="d-flex justify-content-between">
        <div class="text-muted ms-3">{{totalExpenses|currency}} of {{expenseBudget|currency}}</div>
        <span>{{expenseProgress}}%</span>
      </div>
    </div>
    <div class="position-relative" [style]="'margin-top:-1em; margin-left: '+monthProgress+'%'">
    </div>
  </div>
</div>