<div *ngIf="account" class="account bg-light rounded" role="button">
  <div class="d-flex justify-content-between">
    <div class="d-flex" style="min-width:0">
      <account-icon [type]="account.type"></account-icon>
      <div class="d-flex flex-column">
        <div class="small text-truncate">{{account.displayName|titlecase}}</div>
        <div class="small text-muted fst-italic text-truncate">{{account.institution|slice:0:20|titlecase}}</div>
      </div>
    </div>
    <div class="d-flex flex-column align-items-end" style="min-width:0">
      <div>{{account.balance|currency}}</div>
      <div class="small text-muted text-truncate">
        {{howRecent}}
        <span *ngIf="account.failure" class="text-danger ms-2">
          <fa-icon [icon]="failureIcon"></fa-icon>
        </span>
      </div>
    </div>
  </div>
</div>