.scroll {
  max-height: calc(100% - 5em);
  overflow-y: auto;
}

.category:hover {
  cursor: pointer;
  background-color: rgba(var(--primary), 0.3);
}

.category {
  max-height: 12em;
  transition: max-height .5s;
}

.category.hidden {
  max-height: 0;
  overflow: hidden;
}