<div *ngIf="budget" class="my-3 p-2 bg-light rounded" (click)="onViewTransactions()">
  <div class="d-flex justify-content-between align-items-center my-2">
    <div>
      <span>{{budget.categoryId??'Other'|snakecase:'undo'|titlecase}}</span>
      <span *ngIf="transactions?.length" class="ms-2">({{transactions?.length}})</span>
    </div>
  </div>
  <div class="d-flex">
    <div class="position-relative">
      <div class="progress">
        <div class="progress-bar bg-primary" [class.bg-danger]="isOverBudget" role="progressbar"
          [style]="'width: '+progress+'%'"></div>
      </div>
      <!-- <div class="today position-absolute text-dark fst-bold" [class.initialized]="initialized"
      [style]="'top:-.29em; left: '+monthProgress+'%'">|</div> -->
    </div>
    <span class="btn btn-sm btn-outline-primary py-0" (click)="onEdit()">
      <fa-icon [icon]="editIcon"></fa-icon>
    </span>
  </div>
  <span class="d-flex align-items-center text-muted ms-3">
    {{total|currency}} of {{budget.amount|currency}}
  </span>
</div>