<div *ngIf="budget" class="my-3 p-2 bg-light rounded" (click)="onViewTransactions()">
  <div class="d-flex justify-content-between align-items-center my-2">
    <div>
      <span>{{budget.categoryId??'Other'|snakecase:'undo'|titlecase}}</span>
      <span *ngIf="transactions?.length" class="ms-2">({{transactions?.length}})</span>
    </div>
  </div>
  <div class="d-flex w-100 align-items-center">
    <div class="position-relative w-100">
      <div class="progress">
        <div class="progress-bar" [class.bg-primary]="!isOverBudget" [class.bg-danger]="isOverBudget" role="progressbar"
          [style]="'width: '+progress+'%'"></div>
      </div>
      <!-- <div class="today position-absolute text-dark fst-bold" [class.initialized]="initialized"
      [style]="'top:-.29em; left: '+monthProgress+'%'">|</div> -->
    </div>
    <fa-icon class="text-primary larger ps-3" [icon]="editIcon" (click)="onEdit"></fa-icon>
  </div>
  <span class="d-flex align-items-center text-muted ms-3">
    {{total|currency}} of {{budget.amount|currency}}
  </span>
</div>