<div class="category d-flex align-items-center p-3 border-bottom" [class.bg-primary]="isSelected" (click)="onSelect()">

  <ng-container *ngIf="category">
    <category-icon [categoryId]="category.parentId||category.id"></category-icon>
    <span class="larger">
      <span *ngIf="parentName">{{parentName|uppercase}}&nbsp;-&nbsp;</span>
      <span>{{category.name|titlecase}}</span>
    </span>
  </ng-container>

  <ng-container *ngIf="!category">
    <category-icon></category-icon>
    <span class="larger uncategorized">Uncategorized</span>
  </ng-container>

</div>