<div class="background bg-secondary"></div>

<div *ngIf="supportsWebauthn">
  <div class="refresh text-center" [class.show]="isRefreshing$|async">
    <img src="assets/loading.gif" width="48px">
  </div>

  <div *ngIf="(authenticated$|async)">
    <router-outlet></router-outlet>
  </div>

  <div *ngIf="!(authenticated$|async) && !(spinningUp$|async)" class="text-center">
    Not Authenticated
  </div>

</div>

<div *ngIf="!supportsWebauthn" class="text-center">
  Browser does not support WebAuthn
</div>

<app-splash *ngIf="spinningUp$|async"></app-splash>