.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.refresh {
  position: fixed;
  top: -5em;
  left: 0;
  right: 0;
  z-index: 1;
  transition: top 1s;
}

.refresh.show {
  top: 3em;
}