<div class="category d-flex align-items-center p-3 border-bottom" [class.bg-primary]="isSelected" (click)="onSelect()">

  <ng-container *ngIf="category">
    <category-icon [categoryId]="category.group||category.id"></category-icon>
    <span class="d-flex flex-column">
      <span class="larger">
        <span>{{group|uppercase}}&nbsp;-&nbsp;</span>
        <span>{{label|titlecase}}</span>
      </span>
      <span class="small fst-italic text-muted">{{category.name}}</span>
    </span>
  </ng-container>

  <ng-container *ngIf="!category">
    <category-icon></category-icon>
    <span class="larger uncategorized">Uncategorized</span>
  </ng-container>

</div>