<div class="background bg-secondary"></div>
<div class="d-flex justify-content-between align-items-center">
  <div class="mt-2 larger text-light"><span role="button" class="p-3"><fa-icon [icon]="backIcon"
        (click)="onBack()"></fa-icon></span>
  </div>
  <div class="larger text-center text-light text-nowrap">
    {{title|snakecase:'undo'|titlecase}} Transactions
    <span *ngIf="transactions?.length">({{transactions?.length}})</span>
  </div>
  <div class="p-3 larger">&nbsp;</div>
</div>

<div *ngIf="uncategorizedTransactions?.length" class="uncategorized bg-light m-3 rounded">
  <div class="d-flex justify-content-between p-3">
    <div class="larger text-nowrap overflow-hidden me-2">
      Uncategorized transactions
    </div>
  </div>
  <div *cdkVirtualFor="let transaction of uncategorizedTransactions; let i = index" class="m-3">
    <transaction [transaction]="transaction" [categories]="categories" [accounts]="accounts"
      (select)="onSelect($event)"></transaction>
  </div>
</div>

<div class="transactions bg-light m-3 rounded">
  <div class="d-flex justify-content-between p-3">
    <div class="larger text-nowrap overflow-hidden me-2">
      Transactions
    </div>
  </div>
  <cdk-virtual-scroll-viewport [itemSize]="48">
    <div *cdkVirtualFor="let transaction of transactions; let i = index" class="m-3 fullwidth">
      <transaction [transaction]=" transaction" [categories]="categories" [accounts]="accounts"
        (select)="onSelect($event)">
      </transaction>
    </div>
  </cdk-virtual-scroll-viewport>
</div>

<div class="form bg-primary" [class.editing]="selectedTransaction">
  <transaction-form [transaction]="selectedTransaction" [accounts]="accounts" [categories]="categories"
    (close)="onSelect(undefined)"></transaction-form>
</div>