<div class="mt-2"><span class="p-3"><fa-icon [icon]="backIcon" (click)="onCancel($event)"></fa-icon></span></div>

<form [formGroup]="form" class="m-2 w-100">
  <input type="search" formControlName="search" class="form-control" placeholder="Search Categories">
</form>

<div class="scroll">
  <div *ngFor="let category of filteredCategories" class="category">
    <category-item [category]="category" [parentName]="parentName$(category)|async"
      [isSelected]="category.id===categoryId" (select)="onSelect(category.id)"></category-item>
  </div>
</div>