<div class="background bg-secondary"></div>

<home-navbar [accounts]="accounts" (addBudget)="onAddBudget()"></home-navbar>

<home-graph *ngIf="configuration?.showGraph"></home-graph>

<!-- accounts -->
<div class="position-absolute bg-primary" style="z-index:-1;width:100%;height:3em;"></div>
<div *ngFor="let accountType of accountTypes" class="m-3">
  <home-account-type [accountType]="accountType" [accounts]="accountsOfType(accountType)"></home-account-type>
</div>
<div *ngIf="!accounts?.length" class="mt-3">
  <button class="btn btn-primary mx-auto" [routerLink]="['accounts/new']">Add Account</button>
</div>
<div *ngIf="selectedAccount" class="selectedAccount">
  <transactions-view [transactions]="selectedAccountTransactions" [categories]="categories" [accounts]="accounts"
    [title]="selectedAccount.displayName"></transactions-view>
</div>

<!-- transactions -->
<div *ngIf="transactions?.length" class="transactions bg-light m-3 rounded">
  <div class="d-flex justify-content-between p-3">
    <div class="larger text-nowrap overflow-hidden me-2">{{uncategorizedTransactions?"Unategorized":"Recent"}}
      Transactions
    </div>
    <div class="d-flex align-items-center text-primary text-nowrap" role="button" [routerLink]="['transactions']">See
      all</div>
  </div>
  <div *ngFor="let transaction of (uncategorizedTransactions||recentTransactions)" class="m-3">
    <transaction [transaction]="transaction" [categories]="categories||undefined" [accounts]="accounts||undefined"
      (select)="onSelect(transaction)">
    </transaction>
  </div>
</div>
<div class="form bg-primary" [class.editing]="selectedTransaction">
  <transaction-form [transaction]="selectedTransaction" [accounts]="accounts" [categories]="categories"
    (close)="onSelect(undefined)"></transaction-form>
</div>

<!-- budgets -->
<home-budgets *ngIf="transactions?.length" [budgets]="budgets" [categories]="categories"
  [transactions]="transactions"></home-budgets>

<app-budget-form *ngIf="addBudget" [categories]="categories" [budgets]="budgets"
  (close)="addBudget=false"></app-budget-form>