<div class="mt-2 larger"><span role="button" class="p-3"><fa-icon [icon]="backIcon"
      [routerLink]="['']"></fa-icon></span>
</div>
<div [formGroup]="form" class="m-3">


  Home Screen:
  <div class="form-check form-switch">
    <label class="form-check-label">
      Show Graph
      <input class="form-check-input" type="checkbox" formControlName="showGraph" role="switch">
    </label>
  </div>

  <hr />
  Accounts:
  <ng-container formArrayName="accountVisibility">
    <div *ngFor="let visible of accountVisibility.controls; let i = index" [formGroupName]="i"
      class="d-flex justify-content-between">
      <div class="form-check form-switch">
        <label class="form-check-label">
          <span>Hide {{accounts[i].name}}</span>
          <input class="form-check-input" type="checkbox" formControlName="visible" role="switch">
        </label>
      </div>
    </div>
  </ng-container>

  <hr />
  Tools:
  <div class=" d-flex justify-content-end">
    <button class="btn btn-danger" (click)="onResetAllData()">Reset All Data</button>
  </div>